img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.header{
  background-image: url("shirt.jpg");
  background-color: #cccccc;
  /*text-align: center;
  vertical-align: middle;*/
  color:white;
  height:581px;
}
.desc{
  text-align:center;
}
